.join-us {
    position: relative;
    &--notHome {
        padding-top: 100px;
    }
}
.join-us__content {
    padding: 2rem 1.5rem;
    display: grid;
    height: 100vh;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-columns: repeat(12, [col] 1fr);
    @media only screen and (max-width: 1000px) {
        display: block;
        height: auto;
    }
    &__image {
        grid-column: 1 / 7;
        width: 100%;
        background-image: url(../assets/join-us.jpg);
        background-size: cover;
        background-position: center;
        height: 320px;
        margin-bottom: 1rem;
        @media only screen and (max-width: 1000px) {
            grid-column: 1 /13;
        }
    }
    &__text {
        grid-column: 7 / 11;
        @media only screen and (max-width: 1000px) {
            grid-column: 1 /13;
        }
    }
    p {
        margin-bottom: 0.5rem;
    }
}

.banner {
    text-transform: uppercase;
    margin-bottom: 2rem;
    width: 100%;
    position: relative;
    display: flex;
    font-weight: bold;
    &__word {
        position: absolute;
        &--2 {
            left: 0;
            animation: banner1 15s infinite linear;
        }
        &--1 {
            right: 0;
            animation: banner2 15s infinite linear;
        }
    }
}

@keyframes banner1 {
    0% { 
        left: 70%;
    }
    50% {
        left: 0;
    }
    100% { 
        left: 70%;
    }
  }

  @keyframes banner2 {
    0% { 
        right: 70%;
    }
    50% {
        right: 0;
    }
    100% { 
        right: 70%;
    }
  }