.separator{
    margin: 1rem 0;
    width: 100%;
    height: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__inner {
        background-color: #6337E0;
        width: 100%;
        height: 12px;
    }
    &::before, &::after {
        position: absolute;
        width: 100%;
        height: 36px;
        top: -12px;
        left: 0;
        background: linear-gradient(#000, #6337e0);
        content: '';
    }
    &::after {
        top: 32px;
        background: linear-gradient(#6337e0, #000);
    }
    &.separator--first {
        margin-top: -24px;
        &::before {
            background: linear-gradient(transparent, #6337e0);  
        } 
    }
}