.video__container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        @media (min-aspect-ratio: 16/9) AND (min-aspect-ratio: 8/5) AND (min-aspect-ratio: 4/3) AND (min-aspect-ratio: 3/2){
            width: 100%;
            height: auto;
        }
        @media (max-aspect-ratio: 16/9) AND (max-aspect-ratio: 8/5) AND (max-aspect-ratio: 4/3) AND (max-aspect-ratio: 3/2) {
                width:auto;
                height: 100%;
        }
    }
}